<ion-header>
  <ion-toolbar>
    <ion-buttons id="back" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Consulta de habitaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-list>
    <h3 style="margin: 5%;">Habitaciones registradas</h3>
    <ion-item *ngFor="let habitacion of habitaciones">
      <!-- Sliding item with icon start options on end side -->
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            N°: {{habitacion.idHabitacion}} 
            <h4>---------------</h4>
            <p>Tipo: {{habitacion.tipo}}</p>
          </ion-label>
          
          <ion-note slot="end">
            Precio:{{habitacion.precio}}
          </ion-note>
        </ion-item>
        <ion-item-options>
          <ion-item-option (click)="traerHabiatcionSeleccionada(habitacion.idHabitacion)" color="danger">
            <ion-icon slot="start" name="trash"></ion-icon>
            Elimin
          </ion-item-option>
          <ion-item-option [routerLink]="['/habitacion-edita/', habitacion.idHabitacion]" color="secondary">
            <ion-icon slot="start" name="create"></ion-icon>
            Editar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item>
    
  </ion-list>
</ion-content>
