<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
     </ion-buttons>
    <ion-title>Habitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" size-md>
        <ion-item>Fecha Inicio</ion-item>
      </ion-col>
      <ion-col size="8" size-md>
        <ion-item>
          <ion-datetime displayFormat="DD/MM/YYYY" min="1994" max="2100" [(ngModel)]="prueba1"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" size-md>
        <ion-item>Fecha Fin</ion-item>
      </ion-col>
      <ion-col size="8" size-md>
        <ion-item>
          <ion-datetime displayFormat="DD/MM/YYYY" min="1994" max="2100" [(ngModel)]="prueba2"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="asignarFechaLabel()">Consultar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item *ngFor="let habitacion of habitaciones">
    <ion-card>
      <ion-card-content>
       <ion-grid>
         <ion-row>
           <ion-col size="4" size-md><ion-item>Tipo:</ion-item></ion-col>
           <ion-col size="8" size-md><ion-item>{{habitacion.tipo}}</ion-item></ion-col>
         </ion-row>
         <ion-row>
          <ion-col size="4" size-md><ion-item>Precio:</ion-item></ion-col>
          <ion-col size="8" size-md><ion-item>{{habitacion.precio}}</ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" size-md><ion-item>Descripcion:</ion-item></ion-col>
          <ion-col size="8" size-md><ion-item>{{habitacion.descripcion}}</ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" size-md><ion-item>Aire:</ion-item></ion-col>
          <ion-col size="8" size-md><ion-item>{{habitacion.aire}}</ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" size-md><ion-item>Ventilador:</ion-item></ion-col>
          <ion-col size="8" size-md><ion-item>{{habitacion.ventilador}}</ion-item></ion-col>
        </ion-row>
       </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-item>

</ion-content>