.comp{
    background: #777;
    color: #fff;
}

ion-card{
    margin: 5%;
    width: 95%;
    background-color: #fafafa;
}

ion-card-subtitle{
    font-size: 20px;
    text-align: center;
}

ion-card-title{
    text-align: center;
}