.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: 10%;
  }
  .centerBtn{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: 10%;
  }

  .centerIco{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    margin: 15%;
    color: #3880ff;
  }