<ion-header>
  <ion-toolbar>
    <ion-buttons id="back" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Consulta de clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-list>
    <h3 style="margin: 5%;">Clientes registrados</h3>
    <ion-item *ngFor="let cliente of clientes">
      <ion-label >
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>{{cliente.identificacion}}</div>
            </ion-col>
            <ion-col>
              <div>{{cliente.nombre}}</div>
            </ion-col>
            <ion-col>
              <div>{{cliente.edad}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div><ion-button expand="full" fill="outline" (click)="traerClienteSeleccionado(cliente.identificacion)">Ver</ion-button></div>
            </ion-col>
            <ion-col>
              <div><ion-button expand="full" fill="outline" (click)="presentAlertPrompt(cliente)">Update</ion-button></div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
