<ion-header>
  <ion-toolbar>
    <ion-buttons id="back" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Consulta de clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-list>
    <h3 style="margin: 5%;">Clientes registrados</h3>
    <ion-item *ngFor="let cliente of clientes">
      <!-- Sliding item with icon start options on end side -->
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            N°: {{cliente.identificacion}}
            <h4>---------------</h4>
            <p>Nombre: {{cliente.nombre}}</p>
          </ion-label>
          
          <ion-note slot="end">
            Edad:{{cliente.edad}}
          </ion-note>
        </ion-item>
        <ion-item-options>
          <ion-item-option (click)="traerClienteSeleccionado(cliente.identificacion)" color="danger">
            <ion-icon slot="start" name="trash"></ion-icon>
            Elimin
          </ion-item-option>
          <ion-item-option (click)="presentAlertPrompt(cliente)" color="secondary">
            <ion-icon slot="start" name="create"></ion-icon>
            Editar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <!--

        <ion-label >
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>{{cliente.identificacion}}</div>
              </ion-col>
              <ion-col>
                <div>{{cliente.nombre}}</div>
              </ion-col>
              <ion-col>
                <div>{{cliente.edad}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div><ion-button expand="full" fill="outline" (click)="traerClienteSeleccionado(cliente.identificacion)">Ver</ion-button></div>
              </ion-col>
              <ion-col>
                <div><ion-button expand="full" fill="outline" (click)="presentAlertPrompt(cliente)">Update</ion-button></div>
              </ion-col>
            </ion-row>
          </ion-grid>  
        </ion-label>
      -->

    </ion-item>
    
  </ion-list>
</ion-content>
